/*
  Type
  ---------
*/

* { box-sizing: border-box; }

body {
  color: #605848;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 17px;
  word-wrap: break-word;
  margin: 0;
}


/*
  Layout
  ---------
*/

@media screen and (min-width: 600px) {
  .ToyRobot-layoutFixed {
    width: 600px;
    margin: 0 auto;
  }
}


.ToyRobot-layoutPadding {
    padding-left: 15px;
    padding-right: 15px;
}


/*
  Old browser message
  ---------
*/

.ToyRobot-OldBrowser {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
    width: 100%;
    background-color: #fff;
    text-align: center;
    line-height: 100%;
    font-size: 20px;
    color: red;
    border: 2px solid red;
}

/*
  Elements
  ---------
*/

.ToyRobot-input {
  width: 100%;
  height: 100px;
}

.ToyRobot-submitButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
